footer(class="{{footer_class}}")
    .container
        .row
            .width-limit.col-xs-12.col-sm-10.col-sm-push-1
                .row
                    .col-xs-4
                        p
                            span.hidden-xs.hidden-sm Project by
                            a(href="http://gordonfoundation.ca/", target="_blank")
                                img(src="/img/logo-gordon-white-150.png")
                    .col-xs-4
                        p
                            span.hidden-xs.hidden-sm In partnership with
                            a(href="http://www.enr.gov.nt.ca/", target="_blank")
                                img(src="/img/logo-gnwt-white-150.png")
                    .col-xs-4
                        p
                            span.hidden-xs.hidden-sm Built by
                            a(href="http://tesera.com/", target="_blank")
                                img(src="/img/logo-tesera-white-150.png")
        p.pull-right &copy; #{new Date().getFullYear()} Mackenzie DataStream
        p
            a(href="#/page/terms-of-use") Terms of Use
            |  |&nbsp;
            a(href="#/page/data-policy") Data Policy
