form(name='search-map', ng-submit='search()')
    .form-group.has-feedback
        input.form-control(type='text', placeholder='Search our water datasets', ng-model="query")
        i.fa.fa-search.form-control-feedback